asgiref==3.9.1
Brotli==1.1.0
cairocffi==1.7.1
CairoSVG==2.8.2
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
crispy-bootstrap5==2025.6
cssselect2==0.8.0
defusedxml==0.7.1
Django==5.2.5
django-crispy-forms==2.4
django-extensions==4.1
et_xmlfile==2.0.0
fonttools==4.60.1
gunicorn==23.0.0
idna==3.10
openpyxl==3.1.5
pandas==2.3.3
pillow==11.3.0
psycopg2-binary==2.9.10
pycparser==2.22
pydyf==0.11.0
pyphen==0.17.2
reportlab==4.4.3
requests==2.32.5
sqlparse==0.5.3
svgelements==1.9.6
tinycss2==1.4.0
tinyhtml5==2.0.0
urllib3==2.5.0
weasyprint==66.0
webencodings==0.5.1
zopfli==0.2.3.post1
whitenoise==6.8.2
